.sidebarrow{
display: flex;
align-items: center;
padding: 10px 20px;
}
.sidebarRow_icon{
color:rgb(20, 20, 19);
font-size: large !important;
}
.sidebarRow_title{
flex: 1;
margin-left: 20px;
font-size: 12px;
font-weight: 500;
}
.sidebarrow:hover{
background-color: lightblue;
cursor: pointer;

}
.sidebarrow:hover>.sidebarrow_icon{
color: rgb(240, 10, 10);
}
.sidebarrow:hover >.sidebarRow_title{
font-weight: bold;
}
.sidebarrow.selected{
background-color: darkgray;

}
.sidebarrow.selected >.sidebarRow_icon{
color:red;

}
.sidebarrow.selected >.sidebarRow_title{
font-weight: bold;
}